*, *:after, *:before {
    box-sizing: border-box;
}

html {
    background-color:$steel;
}

body {
    width:100%;
    max-width: $page-width;
    margin:0 auto;
    padding:0 1em;
    line-height:1.5;
    font-family: $inter-ui;
}

// block Level elements
h1, h2, h3, h4, h5, h6 {
    color:$slate;
    font-family:$inter-ui;
    font-weight:700;
    margin:1em 0 0.5em 0;
}

h1 {
    font-size:2em;

    a {
        background:linear-gradient(135deg, $purple 5%, $blue 80%);
        -webkit-background-clip: text;
        color:$slate;
        transition:color 175ms ease-in-out;

        &:hover {
            color:transparent !important;
            transition:color 175ms ease-in-out;
            cursor:default;
        }
    }
}

h2 {
    font-size:1.25em;
    margin-bottom:0.33em;
}

#above-the-fold-content {
    position:relative;
    overflow:hidden;
}

.wrapper {
    min-height:calc(100vh -  #{$header-height} - #{$footer-height});
}

ul {
    padding:0;
}

// inline elements
a:not(.anchor) {
    &:link, &:visited {
        color:$sky-dark;
    }

    &:hover {
        color:$sky;
    }

    &:active {
        color:$purple;
    }
}
