#loading {
    text-align:center;
    background:linear-gradient(105deg, $purple 5%, $blue 80%);
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    padding-top:8em;
}
