#get-in-touch-form {
    margin:2em 0 6em 0;

    fieldset {
        margin:0;
        padding:1em 2em;
        border:1px solid $blue;
        border-radius:$border-radius;
        position:relative;
        text-align:center;
    }

    li {
        list-style-type: none;
        padding:0;
        width:50%;
        float:left;
        margin:0.5em 0;
        text-align:left;

        &.full {
            width:100%;
            position:relative;
        }

        @media (max-width: $fullwidthsplit-breakpoint) {
            width:100%;
        }
    }
}

label, legend {
    display:none;
}

input, textarea, select, option, button {
    font-family: $source-code-pro;

    &:focus {
        border:1px solid $blue;
        box-shadow:inset 0 0 4px 1px $steel-dark;
    }
}

input, textarea {
    border:1px solid $steel-dark;
    padding:0.6em 0.5em;
    font-size:0.9em;
    outline:none;
    transition:border 0.3s, box-shadow 0.3s;
    border-radius:0;
    display:inline-block;
    appearance:none;

    &.ng-invalid.ng-touched {
        border:1px solid $bloodhound !important;
    }
}

textarea {
    width:100%;
    resize:vertical;
}

.character-count {
    position: absolute;
    right: 0;
    bottom: 0;
    padding:0.75em 1em;
    font-size:0.9em;
    color:$slate-light;
}

input.expandable {
    width:20em;
    transition:width ease $fast, border ease $fast;

    &:focus {
        width:25em;
    }
}

.get-in-touch-button {
    position:relative;
    width:12em;
    height:2.5em;
    cursor:pointer;
    border:none;
    border-bottom:3px solid $sky-darker;
    color:white;
    background-color:$sky-dark;
    border-radius:2px;
    font-size:1em;

    &:hover:not(:disabled) {
        background-color:$sky;
        border-bottom:3px solid $sky-dark;
    }

    &:active:not(:disabled) {
        background-color:$bloodhound;
        border-bottom:2px solid $bloodhound-dark;
        top:1px;
    }

    &:disabled {
        cursor:default;
        filter:grayscale(100%);
        opacity:0.5;
    }
}