#portfolio-entries {
    width:75%;
    margin:0 auto;
    list-style-type:none;
}

.portfolio-entry {
    margin:2em 0;

    .tool-tag {
        opacity:0;
    }

    &:hover .tool-tag {
        opacity:1;
    }

    p {
        margin:0;
    }
}

.dates {
    list-style-type:none;
    text-transform:uppercase;
    color:$slate-light;
    font-family:$cabin;
    font-size:smaller;
    margin-right:2em;
}

.company-or-github {
    text-transform:uppercase;
    text-decoration:none;
    font-family:$cabin;
    font-weight:100;
    letter-spacing:2px;
    font-size:smaller;
}

.small {
    opacity:0.9;
    font-size:0.75em;
}

.tool-tag {
    transition:opacity 80ms ease-in-out;
    margin:0.6em;
    height:1.25em;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;

    img {
        max-height:100%;
    }
}
