$terminal-border-radius:5px;
$terminal-normal-width:53em;
$terminal-small-width:95%;
$terminal-height:30em;
$terminal-box-shadow-vertical-displacement:2em;
$terminal-box-shadow-blur-radius:3.125em;
$terminal-box-shadow-spread-radius:0.625em;

lukeify-terminal {
  display:block;
  overflow:hidden;
}

#placeholder {
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 40px 100px 10px rgba(20, 20, 20, 0.5);
  text-align: center;
  display: block;
  margin: 8em auto;
}

#terminal-container {
  width:$terminal-normal-width;
  margin:4em auto 6em auto;
  box-shadow:0 $terminal-box-shadow-vertical-displacement $terminal-box-shadow-blur-radius $terminal-box-shadow-spread-radius rgba(black, 0.4);
  border-radius:$terminal-border-radius;
}

#terminal-header {
  display:flex;
  align-items:center;
  background:linear-gradient(180deg, white 0%, #EEE 100%);
  height:1.75em;
  padding:0 0.2em;
  border-top-left-radius:$terminal-border-radius;
  border-top-right-radius:$terminal-border-radius;
}

.terminal-button {
    width:0.9em;
    height:0.9em;
    border-radius:50%;
    display:inline-block;
    margin:0 0.4em;
    transition:all 50ms ease-in-out;
    cursor:pointer;

  &.terminal-not-focused {
    background-color:#e0e0e8 !important;
    border:1px solid darken(#e0e0e8, 10%) !important;
  }

  &.term-button-red {
      $term-red: rgb(255, 84, 60);
    background-color:$term-red;
    border:1px solid darken($term-red, 10%);

      &:active {
          background-color:darken($term-red, 15%);
          border:1px solid darken(darken($term-red, 10%), 10%);
      }
  }

  &.term-button-amber {
      $term-amber: rgb(255, 210, 40);
    background-color:$term-amber;
    border:1px solid darken($term-amber, 10%);

      &:active {
          background-color:darken($term-amber, 15%);
          border:1px solid darken(darken($term-amber, 10%), 10%);
      }
  }

  &.term-button-green {
    $term-green: rgb(76, 231, 48);

    background-color:$term-green;
    border:1px solid darken($term-green, 10%);

      &:active {
          background-color:darken($term-green, 15%);
          border:1px solid darken(darken($term-green, 10%), 10%);
      }
  }
}

#terminal {
  height:$terminal-height;
  padding:0.2em;
  -webkit-backdrop-filter: blur(0.75em);
  backdrop-filter: blur(0.75em);
  overflow-x:auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  line-height:1.2em;
  background-color: rgba(#343434, 0.7);
  border-bottom-left-radius:$terminal-border-radius;
  border-bottom-right-radius:$terminal-border-radius;
  border:1px solid rgba(#343434, 0.3);
  border-top:none;
  font-family: $sf-mono;
  color:white;

  span, a {
    font-size:0.85rem;

    &.term-color.term-sky {
      color:$sky;
    }

    &.term-color.term-purple {
      color:lighten($purple, 10%);
    }
  }
}

#terminal-history {
  width:100%;
    position:relative;
}

#terminal-entry {
  background-color:transparent;
  border:none;
  color:white;
  padding:0;
  margin:0;
  line-height:unset;
  flex-grow:1;

  &:focus {
    box-shadow:none;
  }
}

input, textarea, select, option, button {
  font-family: $sf-mono;

  &:focus {
    border:1px solid $blue;
    box-shadow:inset 0 0 4px 1px $steel-dark;
  }
}

input, textarea {
    border: 1px solid $steel-dark;
    padding: 0.6em 0.5em;
    font-size: 0.9em;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
    border-radius: 0;
    display: inline-block;
    appearance: none;
}

@media (prefers-color-scheme: dark) {
    #terminal-header {
        background:linear-gradient(180deg, #4b4950 0%, #3c3b41 100%);
    }

    #terminal {
        background-color: rgba(#343434, 0.5);
    }
}

@media (max-width: $terminal-small-breakpoint) {
    #terminal-container {
        width:$terminal-small-width;
        box-shadow:none;
    }
}

@media (max-width: $terminal-hide-breakpoint) {
    lukeify-terminal {
        display: none;
    }
}
