header {
    top:0;
    left:0;
    width:100%;
    font-family:$cabin;
}

nav {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:2em auto;
    max-width: $page-width;

    ul {
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        margin:0;
    }

    li {
        list-style-type: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin:0 0.5em;
        vertical-align:middle;
    }

    a {
        padding:0.5em 0;
        text-decoration: none;
    }

    a:link, a:visited {
        color:white;
    }

    img {
        width:1.5em;
        height:1.5em;
    }
}

#nav-left {
    a:not(#logo) {
        border-bottom:2px solid transparent;
        transition:border-bottom 0.3s, color 0.3s;
    }

    a:hover:not(#logo) {
        border-bottom:2px solid white;
    }

    a:active:not(#logo) {
        color:$bloodhound;
        border-bottom:2px solid $bloodhound;
    }

    @media (max-width: $header-breakpoint) {
        li {
            display:block;
            width:100%;
            text-align:center;
            margin:0.6em 0;
        }

        li:first-child {
            margin-bottom:2em;
        }
    }
}

@media (max-width: $fullwidthsplit-breakpoint) {
    #nav-left, #nav-right {
        font-size:smaller;
    }
}

@media (max-width: $header-breakpoint) {
    #nav-left {
        width:100%;
    }

    #nav-right {
        margin:1em auto;
    }
}
