$circle-size-large: 5em;
$circle-size-small: 5em;

#logo {
  display:block;
  position:fixed;
  top:0.6em;
  left:1.2em;
  padding:0;
  width: $circle-size-large;
  height: $circle-size-large;
  line-height:$circle-size-large;
  font-family:$arvo;
  font-style:italic;
  font-size:1.5em;
  border-radius:50%;
  background-color:$sky;
  transform:rotate(-15deg);
  transition:background-color 0.3s ease-in-out;

  &:hover {
    background-color:$blue;
  }

  @media (max-width: $lukeifylogo-breakpoint) {
    width: $circle-size-small;
    height: $circle-size-small;
    line-height:$circle-size-small;
    font-size:1em;
    position:unset;
  }

  @media (max-width: $header-breakpoint) {
    margin:0 auto;
  }
}