// Styles, variables, & mixins relating to the style of the website.
@import 'design';
// General design
@import "general";
// Loading styles
@import "loading";
// Styles for the header.
@import 'header';
// Styles for the logo
@import "logo";
// The professional outline section on the main page.
@import 'home/outline';
// The terminal
@import 'home/terminal';
// The portfolio section on the main page.
@import 'home/portfolio';
// The skillset section on the main page.
@import 'home/skillset';
// The contact form on the main page.
@import 'home/contact';
// Styles for the footer of the website.
@import 'footer';
// Tweets
@import "tweets";